

body {
  background-color : #336699;
}

.container {
  width: 400px;
  padding: 50px;
  box-sizing: border-box;
  background-color: white;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.7);
}

.logo {
   margin-left: 60px;
}
#signin-button,
#signup-button {
  width: calc((100% - 40px)/2);
  height: 40px;
  border: none;
  box-sizing: border-box;
  background-color: white;
  border-bottom: 3px solid white;
  outline: none;
  font-size: 1.3em;
  margin-bottom: 10px;
}

#signin-button {
  margin-left: 20px;
}

form {
  /*   border: 1px solid black; */
  border-radius: 5px;
}

#signin-form,
#signup-form{
  display: none;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: calc(100% - 40px - 20px);
  margin: 20px;
  line-height: 30px;
  padding-left: 20px;
  outline: none;
  transition: all 0.30s ease-in-out;
  border: 1px solid #B8B8B8;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  box-shadow: 0 0 5px rgba(138, 123, 179, 0.8);
  border: 1px solid rgba(138, 123, 179, 1);
}



label {
  line-height: 18px;
  padding-left: 5px;
}

.submit-button {
  width: 120px;
  height: 40px;
  margin-left: -60px;
  margin-top: 40px;
  position: relative;
  top: 50%;
  left: 50%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  font-size: 1.3em;
  outline: none;
}

button:hover {
  color: rgba(138, 123, 179, 0.8);
  border: 1px solid rgba(138, 123, 179, 0.8);
}